{% extends 'base.html' %}


{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Welcome To Crypto News Network!!</h1>
  <p class="lead">Your Source For Up To The Minute Crypto Currency and Blockchain News!</p>

</div>
<br/>


<table class="table table-striped table-bordered table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Name </th>
      <th scope="col">Price</th>
      <th scope="col">24h High</th>
      <th scope="col">24h Low</th>
      <th scope="col">Market Cap</th>
    </tr>
  </thead>
  <tbody>
{% for key,value in price.DISPLAY.items %}


    <tr>
      <td>{{ key }}</td>
      <td>{{ value.USD.PRICE }}</td>
      <td>{{ value.USD.HIGHDAY }}</td>
      <td>{{ value.USD.LOWDAY }}</td>
      <td>{{ value.USD.MKTCAP }}</td>
    </tr>
{% endfor %}

  </tbody>
</table>





<br/><br/>





<div class="container">
	<div class="row">
		{% for x in api.Data %}
			<div class="col-sm">
				<div class="card" style="width: 18rem;">
				  <img class="card-img-top" src="{{ x.imageurl }}" alt="{{ x.source }}">
				  <div class="card-body">
				    <h5 class="card-title">{{ x.title }}</h5>
				    <p class="card-text">{{ x.body|slice:"200" }}...</p>
				    <a href="{{ x.url }}" class="btn btn-secondary">Read More...</a>
				  </div>
				</div>
				<br/>
			</div>
		{% endfor %}
	</div>
</div>





	{{ api.Data }}

{% endblock %}